# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Eclipse
.classpath
.project
.settings/
.apt_generated/
.factorypath
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Log Files
*.log
logs/

# Miscellaneous
*.bak
*.swp
*~